* {
  box-sizing: border-box;
}
body {
  width: 320px;
  height: 1024px;
  font-family: TT Lakes, Arial, sans-serif;
  position: sticky;
  left: 0;
  top: 0;
  margin: 0;
}
.header {
}
.navigation {
  display: flex;
}
.navigation__button-categories {
}
.button-categories {
  margin-top: 23px;
  margin-left: 24px;
  margin-right: 16px;
  width: 40px;
  height: 40px;
  background: url(/scr1.4/button-categories.svg) no-repeat;
  transition-duration: 0.5s;
}
.button-categories > a {
  display: block;
  width: 100%;
  height: 100%;
}
.navigation__logo {
}
.logo {
  margin-top: 18px;
  margin-right: auto;
}
.navigation__button-search {
}
.button-search {
  margin-top: 23px;
  width: 40px;
  height: 40px;
  background: url(/scr1.4/button-search.svg) no-repeat;
  transition-duration: 0.5s;
}
.button-search > a {
  display: block;
  width: 100%;
  height: 100%;
}
.container-inf {
}
.palka {
  margin-left: 0px;
  height: 32px;
  width: 4px;
}
.information-list {
  font-weight: 550;
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  gap: 32px;
  padding-top: 57px;
}
.information-list__element {
}
.element {
  list-style-type: none;
  text-align: left;
  height: 24px;
  font-size: 16px;
  transition-duration: 0.3s;
}
.element > a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #1b1c21;
  transition-duration: 0.3s;
}
.element_activated {
  align-items: center;
  display: flex;
  color: #7e7e82;

  gap: 20px;
}
.element_inactive {
  margin-left: 24px;
  color: #1b1c21;
}
.footer {
}
.footer__fot-navigation {
}
.footer__fot-navigation a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.fot-navigation {
  display: flex;
  margin-left: 24px;
  margin-top: 268px;
  gap: 16px;
}
.fot-navigation__button-number {
}
.button-number {
  width: 40px;
  height: 40px;
  background: url(/scr1.4/button-number.svg) no-repeat;
  transition-duration: 0.5s;
}
.fot-navigation__button-message {
}
.button-message {
  width: 40px;
  height: 40px;
  background: url(/scr1.4/button-message.svg) no-repeat;
  transition-duration: 0.5s;
}
.fot-navigation__button-contacts {
}
.button-contacts {
  width: 40px;
  height: 40px;
  background: url(/scr1.4/button-contacts.svg) no-repeat;
  transition-duration: 0.5s;
}
.contacts {
}
.contacts__mail {
}
.mail {
  margin-left: 24px;
  margin-top: 16px;
  height: 24px;
  font-size: 16px;
  margin-bottom: 12px;
  font-style: normal;
}
.contacts__number {
}
.number {
  margin-left: 24px;
  height: 32px;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 40px;
}
.language-sheet {
  display: flex;
  padding-left: 24px;
  gap: 7px;
}
.language-sheet__lang-element {
}
.lang-element {
  transition-duration: 0.5s;
}
.lang-element > a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #1b1c21;
}
.lang-element_activated {
  color: #7e7e82;
}
.button-categories:hover,
.button-search:hover,
.element:hover,
.button-number:hover,
.button-contacts:hover,
.button-message:hover,
.lang-element:hover {
  opacity: 0.5;
}
