* {
  box-sizing: border-box;
}
body {
  font-family: TT Lakes, Arial, sans-serif;
  background: #f8f8f8;
}
.header {
  display: flex;
  background: #ffffff;
  height: 88px;
}

.header__menu_categories {
  margin-left: 15px;
  margin-right: 16px;
  margin-top: auto;
  margin-bottom: auto;
}
.header__stick {
  margin-top: 28px;
  margin-bottom: 28px;
}
.header__stick_a {
  display: none;
}
.header__logo {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20px;
  margin-right: auto;
}

.header__menu_contacts {
  display: none;
}

.header__menu_search {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  gap: 16px;
  margin-right: 24px;
  margin-left: 20px;
}

.based__bar {
  display: flex;
}
.bar__bussines {
  margin: 0px;
  padding: 0px;
  display: flex;
  margin-top: 24px;
}
.bussines__menu {
  display: none;
  margin-left: auto;
  vertical-align: middle;
  margin-top: 42px;
  gap: 32px;
}
.bussines__menu__element > img {
  margin-left: 8px;
}
.bussines__menu__element {
  color: #1b1c21;
}
a {
  text-decoration: none;
}
.bussines__menu__element2 {
  vertical-align: middle;
  margin-right: 32px;
}

.bussines__element2 {
  font-size: 28px;
  margin-left: 20px;
}

.based__i_list {
  display: flex;
  gap: 25px;
  height: 40px;
  font-size: 16px;
  list-style-type: none;
  text-align: center;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.based__i_list::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.i_list__element {
  white-space: nowrap;
  display: flex;
  align-items: center;
  height: 40px;
  padding: 8px;
}
.i_list__element > a {
  color: #7e7e82;
}

.i_list__element_activated {
  border: 2px solid #b8ffec;
  border-radius: 6px;
  background: #ffffff;
}
.based__paragraph {
  display: flex;
  flex-direction: column;
}
.paragraph_text {
  font-size: 14px;
  line-height: 20px;
  color: #1b1c21;
}
.paragraph__img {
  margin-left: 48px;
  width: 320px;
  height: 176px;
  margin-right: 32px;
}

.paragraph__buttom_open,
.paragraph__buttom_open:active,
.paragraph__buttom_open:focus {
  border: 0;
  background: #f8f8f8;
  height: 24px;
  font-size: 16px;
  vertical-align: middle;
}

@media screen and (max-width: 550px) {
  .based__paragraph {
    flex-direction: column;
  }
}
@media screen and (min-width: 769px) {
  .based__paragraph {
    flex-direction: row;
  }

  .header__menu_contacts {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    gap: 16px;
    margin-right: 20px;
  }
  .header__stick_a {
    display: flex;
  }
  .header__menu_categories {
    margin-left: 16px;
    margin-right: 20px;
  }
  .paragraph__img {
    width: 360px;
    height: 208px;
  }
}
@media screen and (min-width: 1119px) {
  .header {
    display: none;
  }
  .paragraph__img {
    width: 531.35px;
    height: 307px;
  }
  .bussines__menu {
    display: flex;
  }
}
